/* line 1, ../assets/stylesheets/components/img.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 6, ../assets/stylesheets/components/img.scss */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 10, ../assets/stylesheets/components/img.scss */
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 16, ../assets/stylesheets/components/img.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 21, ../assets/stylesheets/components/img.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 26, ../assets/stylesheets/components/img.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 31, ../assets/stylesheets/components/img.scss */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 35, ../assets/stylesheets/components/img.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 40, ../assets/stylesheets/components/img.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 46, ../assets/stylesheets/components/img.scss */
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 54, ../assets/stylesheets/components/img.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 58, ../assets/stylesheets/components/img.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

/* line 62, ../assets/stylesheets/components/img.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

/* line 66, ../assets/stylesheets/components/img.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 75, ../assets/stylesheets/components/img.scss */
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../assets/vendor/codelation/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../assets/vendor/codelation/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, ../assets/vendor/codelation/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, ../assets/vendor/codelation/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../assets/vendor/codelation/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, ../assets/vendor/codelation/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../assets/vendor/codelation/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, ../assets/vendor/codelation/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, ../assets/vendor/codelation/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, ../assets/vendor/codelation/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, ../assets/vendor/codelation/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, ../assets/vendor/codelation/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, ../assets/vendor/codelation/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, ../assets/vendor/codelation/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, ../assets/vendor/codelation/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, ../assets/vendor/codelation/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 173, ../assets/vendor/codelation/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, ../assets/vendor/codelation/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, ../assets/vendor/codelation/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, ../assets/vendor/codelation/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, ../assets/vendor/codelation/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, ../assets/vendor/codelation/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, ../assets/vendor/codelation/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, ../assets/vendor/codelation/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, ../assets/vendor/codelation/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, ../assets/vendor/codelation/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, ../assets/vendor/codelation/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, ../assets/vendor/codelation/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, ../assets/vendor/codelation/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, ../assets/vendor/codelation/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, ../assets/vendor/codelation/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, ../assets/vendor/codelation/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, ../assets/vendor/codelation/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, ../assets/vendor/codelation/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, ../assets/vendor/codelation/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, ../assets/vendor/codelation/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, ../assets/vendor/codelation/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, ../assets/vendor/codelation/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, ../assets/vendor/codelation/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 424, ../assets/vendor/codelation/_normalize.scss */
td,
th {
  padding: 0;
}

/* No files to import found in codelation/functions/**\/* */
/* No files to import found in codelation/mixins/**\/* */
/* line 17, ../assets/vendor/codelation/codelation.scss */
html {
  box-sizing: border-box;
}

/* line 22, ../assets/vendor/codelation/codelation.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 3, ../assets/stylesheets/layout/content_area.scss */
.content-area {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
  padding: 40px 187px 40px;
  position: relative;
  z-index: 10;
}
/* line 10, ../assets/stylesheets/layout/content_area.scss */
.content-area h1 {
  font-size: 64px;
  position: relative;
}
/* line 14, ../assets/stylesheets/layout/content_area.scss */
.content-area h1:after {
  background: linear-gradient(150deg, #3023ae 15%, #c96dd8 70%, #e18bef 94%);
  bottom: -35px;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  width: 100%;
}
/* line 25, ../assets/stylesheets/layout/content_area.scss */
.content-area p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px;
}
@media (max-width: 999px) {
  /* line 3, ../assets/stylesheets/layout/content_area.scss */
  .content-area {
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (max-width: 767px) {
  /* line 3, ../assets/stylesheets/layout/content_area.scss */
  .content-area {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
  }
}

/* line 3, ../assets/stylesheets/layout/footer.scss */
footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  border-top: 1px solid #eeeeee;
  margin-top: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
}
/* line 17, ../assets/vendor/codelation/mixins/has_columns.scss */
footer > *:not(script) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 50%;
}
@media (max-width: 767px) {
  /* line 3, ../assets/stylesheets/layout/footer.scss */
  footer {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 55, ../assets/vendor/codelation/mixins/has_columns.scss */
  footer > *:not(script) {
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
  }
  /* line 60, ../assets/vendor/codelation/mixins/has_columns.scss */
  footer > *:not(script):last-child {
    margin-bottom: 0;
  }
}
/* line 11, ../assets/stylesheets/layout/footer.scss */
footer .footer-logo {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  font-size: 14px;
}
/* line 17, ../assets/stylesheets/layout/footer.scss */
footer .socials {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}
/* line 21, ../assets/stylesheets/layout/footer.scss */
footer .socials a {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: #e18bef;
  margin-right: 30px;
  text-decoration: none;
}
/* line 27, ../assets/stylesheets/layout/footer.scss */
footer .socials a:hover {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: #3023ae;
}
/* line 32, ../assets/stylesheets/layout/footer.scss */
footer .socials a i {
  font-size: 38px;
}
@media (max-width: 767px) {
  /* line 39, ../assets/stylesheets/layout/footer.scss */
  footer .footer-logo {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    margin-bottom: 10;
  }
  /* line 44, ../assets/stylesheets/layout/footer.scss */
  footer .socials {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
}

/* line 3, ../assets/stylesheets/layout/header.scss */
.header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding-left: 12px;
  padding-right: 12px;
  padding: 30px;
  position: relative;
  text-align: center;
  z-index: 2;
}
/* line 12, ../assets/stylesheets/layout/header.scss */
.header .header-logo img {
  height: auto;
  max-width: 200px;
}
/* line 19, ../assets/stylesheets/layout/header.scss */
.header nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}
/* line 25, ../assets/stylesheets/layout/header.scss */
.header nav li {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
  width: auto;
}
/* line 31, ../assets/stylesheets/layout/header.scss */
.header nav li a {
  color: white;
  padding: 5px 10px;
}

/* line 1, ../assets/stylesheets/typography/headings.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 11, ../assets/stylesheets/typography/headings.scss */
h1 {
  font-size: 2.375em;
  letter-spacing: 3px;
}

/* line 16, ../assets/stylesheets/typography/headings.scss */
h2 {
  font-size: 1.75em;
}

/* line 20, ../assets/stylesheets/typography/headings.scss */
h3 {
  font-size: 1.375em;
}

/* line 24, ../assets/stylesheets/typography/headings.scss */
h4 {
  font-size: 1.125em;
}

/* line 28, ../assets/stylesheets/typography/headings.scss */
h5 {
  font-size: 1em;
}

/* line 4, ../assets/stylesheets/views/pages/category/category.scss */
body.category::before {
  background: linear-gradient(150deg, #3023ae 15%, #c96dd8 70%, #e18bef 94%);
  content: " ";
  display: block;
  height: 800px;
  position: absolute;
  transform: skewY(-12deg);
  transform-origin: 0;
  top: -100px;
  width: 100%;
  z-index: 1;
}
/* line 17, ../assets/stylesheets/views/pages/category/category.scss */
body.category article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 23, ../assets/stylesheets/views/pages/category/category.scss */
body.category article .entry img {
  float: left;
  margin-right: 20px;
}

/* line 4, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
body.page::before {
  background: linear-gradient(150deg, #3023ae 15%, #c96dd8 70%, #e18bef 94%);
  content: " ";
  display: block;
  height: 800px;
  position: absolute;
  transform: skewY(-12deg);
  transform-origin: 0;
  top: -50px;
  width: 100%;
  z-index: 1;
}
/* line 17, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
body.page .countdown-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 60px;
  position: relative;
  z-index: 10;
}
/* line 23, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
body.page .countdown-wrapper:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
/* line 32, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
body.page .countdown-wrapper .countdown {
  color: #fff;
}
/* line 35, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
body.page .countdown-wrapper .countdown .heading {
  margin-bottom: 60px;
  text-align: center;
  text-shadow: 0 0 1px #3023ae;
}
/* line 40, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
body.page .countdown-wrapper .countdown .heading h1 {
  margin: 0 0 30px;
}
/* line 44, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
body.page .countdown-wrapper .countdown .heading p {
  font-size: 20px;
  margin-top: 0;
}
/* line 51, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
body.page .countdown-wrapper p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px;
}
/* line 58, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
body.page .about-nerdq {
  position: relative;
  z-index: 10;
}
@media (max-width: 767px) {
  /* line 64, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
  body.page .counter-wrapper {
    margin-bottom: 15px;
  }
  /* line 67, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
  body.page .counter-wrapper .countdown {
    color: #fff;
  }
  /* line 70, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
  body.page .counter-wrapper .countdown .heading {
    margin-bottom: 30px;
  }
  /* line 73, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
  body.page .counter-wrapper .countdown .heading h1 {
    margin: 0 0 15px;
  }
  /* line 77, ../assets/stylesheets/views/pages/counter-timer/counter_timer.scss */
  body.page .counter-wrapper .countdown .heading p {
    font-size: 17px;
  }
}

/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
/* line 5, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper * {
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc;
}

/* line 18, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper a:hover {
  color: #fff;
}

/* line 22, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul {
  list-style: none;
}

/* line 26, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table;
}

/* line 32, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper.clearfix:after {
  clear: both;
}

/* line 36, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper.clearfix {
  *zoom: 1;
}

/* Main */
/* line 42, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper {
  min-height: 100%;
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none;
}

/* line 48, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-meridium {
  background: none;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important;
  color: #313333;
  bottom: 10px;
}

/* line 57, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 461px;
  margin: 1em auto;
}

/* Skeleton */
/* line 66, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px_prefixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
@media (max-width: 767px) {
  /* line 66, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
  .flip-clock-wrapper ul {
    width: 40px;
    height: 70px;
  }
}

/* line 85, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
}

/* line 95, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li:first-child {
  z-index: 2;
}

/* line 99, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
}

/* line 107, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

/* line 116, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* line 123, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0;
}

/* line 128, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 140, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
}

/* line 145, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
  font-size: 70px;
}
@media (max-width: 767px) {
  /* line 145, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
  .flip-clock-wrapper ul li a div div.inn {
    font-size: 55px;
  }
}

/* line 163, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li a div.up div.inn {
  top: 0;
}

/* line 168, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0;
}

/* PLAY */
/* line 174, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3;
}

/* line 178, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 2;
}

/* line 183, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px;
}

/* line 191, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-divider:first-child {
  width: 0;
}

/* line 193, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* line 203, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-divider .flip-clock-label {
  font-size: 16px;
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: #fff;
  text-shadow: none;
}

/* line 212, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-divider.minutes .flip-clock-label {
  right: -88px;
}

/* line 213, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-divider.seconds .flip-clock-label {
  right: -91px;
}

/* line 215, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-dot.top {
  top: 30px;
}

/* line 219, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-dot.bottom {
  bottom: 30px;
}

@-webkit-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
@-moz-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
@keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
/* line 235, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both;
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
  }
}
@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg);
  }
  100% {
    -moz-transform: rotateX(0deg);
  }
}
@keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
/* line 249, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both;
}

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
  }
}
@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg);
  }
  100% {
    -moz-transform: rotateX(-90deg);
  }
}
@keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
/* line 263, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3;
}

/* SHADOW */
/* line 267, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}

/* line 277, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both;
}

/*DOWN*/
/* line 289, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%);
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}

/* line 299, ../assets/stylesheets/views/pages/counter-timer/flipclock.scss */
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%);
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 4, ../assets/stylesheets/views/pages/index/about.scss */
body.home .about-nerdq {
  line-height: 1.6875;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 650px;
}
@media (max-width: 767px) {
  /* line 14, ../assets/stylesheets/views/pages/index/about.scss */
  body.home h1 {
    font-size: 1.750em;
  }
}

/* line 4, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home::before {
  background: linear-gradient(150deg, #3023ae 15%, #c96dd8 70%, #e18bef 94%);
  content: " ";
  display: block;
  height: 800px;
  position: absolute;
  transform: skewY(-12deg);
  transform-origin: 0;
  top: -100px;
  width: 100%;
  z-index: 1;
}
/* line 17, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding-left: 12px;
  padding-right: 12px;
  padding: 1px 1px 0 1px;
}
/* line 22, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  background: linear-gradient(150deg, #47a865 15%, #f7c626 70%, #c99c07 94%);
  padding: 1px;
  position: relative;
  z-index: 2;
}
/* line 31, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post {
  box-sizing: border-box;
  display: flex;
}
/* line 35, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post .grid-item {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
}
/* line 39, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post .grid-item a {
  color: #fff;
  text-decoration: none;
}
/* line 44, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post .grid-item h2 {
  font-size: 36px;
  font-weight: 400;
  margin-top: 0;
}
/* line 50, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post .grid-item .summary {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  padding: 25px;
}
/* line 56, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post .grid-item .summary .summary-footer {
  color: #f7c626;
  text-transform: uppercase;
}
/* line 60, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post .grid-item .summary .summary-footer span {
  color: #fff;
}
/* line 69, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-0, body.home .homepage-flex-grid .post.item-3 {
  min-height: 300px;
  width: 63%;
}
/* line 75, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-0 .grid-item .summary, body.home .homepage-flex-grid .post.item-3 .grid-item .summary {
  max-width: 50%;
}
/* line 78, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-0 .grid-item .summary .summary-footer, body.home .homepage-flex-grid .post.item-3 .grid-item .summary .summary-footer {
  position: relative;
}
/* line 81, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-0 .grid-item .summary .summary-footer:before, body.home .homepage-flex-grid .post.item-3 .grid-item .summary .summary-footer:before {
  background: linear-gradient(90deg, transparent, #f7c626 100%);
  content: "";
  display: block;
  height: 12px;
  left: -115%;
  position: absolute;
  top: 2px;
  width: 300px;
}
@media (max-width: 999px) {
  /* line 101, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
  body.home .homepage-flex-grid .post.item-0 .grid-item .summary .summary-footer:before, body.home .homepage-flex-grid .post.item-3 .grid-item .summary .summary-footer:before {
    display: none;
  }
}
/* line 110, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-1, body.home .homepage-flex-grid .post.item-2 {
  min-height: 300px;
  width: 37%;
}
/* line 116, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-4, body.home .homepage-flex-grid .post.item-5, body.home .homepage-flex-grid .post.item-6, body.home .homepage-flex-grid .post.item-7 {
  min-height: 235px;
  width: 25%;
}
/* line 126, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-0, body.home .homepage-flex-grid .post.item-2, body.home .homepage-flex-grid .post.item-4, body.home .homepage-flex-grid .post.item-5, body.home .homepage-flex-grid .post.item-6 {
  padding-right: 1px;
}
/* line 134, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-0, body.home .homepage-flex-grid .post.item-1, body.home .homepage-flex-grid .post.item-2, body.home .homepage-flex-grid .post.item-3, body.home .homepage-flex-grid .post.item-4, body.home .homepage-flex-grid .post.item-5, body.home .homepage-flex-grid .post.item-6, body.home .homepage-flex-grid .post.item-7 {
  padding-bottom: 1px;
}
/* line 147, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-0 .grid-item, body.home .homepage-flex-grid .post.item-3 .grid-item {
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}
/* line 17, ../assets/vendor/codelation/mixins/has_columns.scss */
body.home .homepage-flex-grid .post.item-0 .grid-item > *:not(script), body.home .homepage-flex-grid .post.item-3 .grid-item > *:not(script) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 50%;
}
@media (max-width: 767px) {
  /* line 147, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
  body.home .homepage-flex-grid .post.item-0 .grid-item, body.home .homepage-flex-grid .post.item-3 .grid-item {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 55, ../assets/vendor/codelation/mixins/has_columns.scss */
  body.home .homepage-flex-grid .post.item-0 .grid-item > *:not(script), body.home .homepage-flex-grid .post.item-3 .grid-item > *:not(script) {
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
  }
  /* line 60, ../assets/vendor/codelation/mixins/has_columns.scss */
  body.home .homepage-flex-grid .post.item-0 .grid-item > *:not(script):last-child, body.home .homepage-flex-grid .post.item-3 .grid-item > *:not(script):last-child {
    margin-bottom: 0;
  }
}
/* line 159, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-1 .grid-item, body.home .homepage-flex-grid .post.item-2 .grid-item, body.home .homepage-flex-grid .post.item-4 .grid-item, body.home .homepage-flex-grid .post.item-5 .grid-item, body.home .homepage-flex-grid .post.item-6 .grid-item, body.home .homepage-flex-grid .post.item-7 .grid-item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
  position: relative;
}
/* line 164, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-1 .grid-item .grid-item-image, body.home .homepage-flex-grid .post.item-2 .grid-item .grid-item-image, body.home .homepage-flex-grid .post.item-4 .grid-item .grid-item-image, body.home .homepage-flex-grid .post.item-5 .grid-item .grid-item-image, body.home .homepage-flex-grid .post.item-6 .grid-item .grid-item-image, body.home .homepage-flex-grid .post.item-7 .grid-item .grid-item-image {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
/* line 173, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-1 .grid-item .summary, body.home .homepage-flex-grid .post.item-2 .grid-item .summary, body.home .homepage-flex-grid .post.item-4 .grid-item .summary, body.home .homepage-flex-grid .post.item-5 .grid-item .summary, body.home .homepage-flex-grid .post.item-6 .grid-item .summary, body.home .homepage-flex-grid .post.item-7 .grid-item .summary {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 5;
  width: 100%;
}
/* line 179, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-1 .grid-item .summary h2, body.home .homepage-flex-grid .post.item-2 .grid-item .summary h2, body.home .homepage-flex-grid .post.item-4 .grid-item .summary h2, body.home .homepage-flex-grid .post.item-5 .grid-item .summary h2, body.home .homepage-flex-grid .post.item-6 .grid-item .summary h2, body.home .homepage-flex-grid .post.item-7 .grid-item .summary h2 {
  font-size: 18px;
  font-weight: 400;
}
/* line 184, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-1 .grid-item .summary .summary-footer, body.home .homepage-flex-grid .post.item-2 .grid-item .summary .summary-footer, body.home .homepage-flex-grid .post.item-4 .grid-item .summary .summary-footer, body.home .homepage-flex-grid .post.item-5 .grid-item .summary .summary-footer, body.home .homepage-flex-grid .post.item-6 .grid-item .summary .summary-footer, body.home .homepage-flex-grid .post.item-7 .grid-item .summary .summary-footer {
  color: #64be80;
}
/* line 187, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
body.home .homepage-flex-grid .post.item-1 .grid-item .summary .summary-footer span, body.home .homepage-flex-grid .post.item-2 .grid-item .summary .summary-footer span, body.home .homepage-flex-grid .post.item-4 .grid-item .summary .summary-footer span, body.home .homepage-flex-grid .post.item-5 .grid-item .summary .summary-footer span, body.home .homepage-flex-grid .post.item-6 .grid-item .summary .summary-footer span, body.home .homepage-flex-grid .post.item-7 .grid-item .summary .summary-footer span {
  color: #fff;
}
@media (max-width: 767px) {
  /* line 200, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
  body.home .homepage-flex-grid {
    -webkit-box-orient: columns;
    -moz-box-orient: columns;
    box-orient: columns;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: columns;
    -moz-flex-direction: columns;
    flex-direction: columns;
    -ms-flex-direction: columns;
  }
  /* line 204, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
  body.home .homepage-flex-grid .post.item-0, body.home .homepage-flex-grid .post.item-1, body.home .homepage-flex-grid .post.item-2, body.home .homepage-flex-grid .post.item-3, body.home .homepage-flex-grid .post.item-4, body.home .homepage-flex-grid .post.item-5, body.home .homepage-flex-grid .post.item-6, body.home .homepage-flex-grid .post.item-7 {
    width: 100%;
  }
  /* line 220, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
  body.home .homepage-flex-grid.item-0 .grid-item, body.home .homepage-flex-grid.item-3 .grid-item {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    position: relative;
  }
  /* line 225, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
  body.home .homepage-flex-grid.item-0 .grid-item .grid-item-image, body.home .homepage-flex-grid.item-3 .grid-item .grid-item-image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
  }
  /* line 234, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
  body.home .homepage-flex-grid.item-0 .grid-item .summary, body.home .homepage-flex-grid.item-3 .grid-item .summary {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 5;
    max-width: 100%;
  }
  /* line 240, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
  body.home .homepage-flex-grid.item-0 .grid-item .summary h2, body.home .homepage-flex-grid.item-3 .grid-item .summary h2 {
    font-size: 18px;
    font-weight: 400;
  }
  /* line 245, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
  body.home .homepage-flex-grid.item-0 .grid-item .summary .summary-footer, body.home .homepage-flex-grid.item-3 .grid-item .summary .summary-footer {
    color: #64be80;
  }
  /* line 248, ../assets/stylesheets/views/pages/index/homepage_grid.scss */
  body.home .homepage-flex-grid.item-0 .grid-item .summary .summary-footer span, body.home .homepage-flex-grid.item-3 .grid-item .summary .summary-footer span {
    color: #fff;
  }
}

/* line 4, ../assets/stylesheets/views/pages/single-post/single_post.scss */
body.single::before {
  background: linear-gradient(150deg, #3023ae 15%, #c96dd8 70%, #e18bef 94%);
  content: " ";
  display: block;
  height: 800px;
  position: absolute;
  transform: skewY(-12deg);
  transform-origin: 0;
  top: -100px;
  width: 100%;
  z-index: 1;
}
/* line 17, ../assets/stylesheets/views/pages/single-post/single_post.scss */
body.single img {
  height: auto;
  max-width: 100%;
}
