/* line 1, ../../assets/stylesheets/components/img.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 6, ../../assets/stylesheets/components/img.scss */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 10, ../../assets/stylesheets/components/img.scss */
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 16, ../../assets/stylesheets/components/img.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 21, ../../assets/stylesheets/components/img.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 26, ../../assets/stylesheets/components/img.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 31, ../../assets/stylesheets/components/img.scss */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 35, ../../assets/stylesheets/components/img.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 40, ../../assets/stylesheets/components/img.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 46, ../../assets/stylesheets/components/img.scss */
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 54, ../../assets/stylesheets/components/img.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 58, ../../assets/stylesheets/components/img.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

/* line 62, ../../assets/stylesheets/components/img.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

/* line 66, ../../assets/stylesheets/components/img.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 75, ../../assets/stylesheets/components/img.scss */
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
