@import "../base";

.header {
  @include outer-container;
  padding: 30px;
  position: relative;
  text-align: center;
  z-index: 2;

  .header-logo {

    img {
      height: auto;
      max-width: 200px;
    }
  }

  nav {
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      width: 100%;
    }
    li {
      display: inline-block;
      margin: 0;
      padding: 0 5px;
      width: auto;

      a {
        color: white;
        padding: 5px 10px;
      }
    }
  }
}
