@import "../base";

.header {
  @include outer-container;
  padding: 30px;
  position: relative;
  text-align: center;
  z-index: 2;

  .header-logo {

    img {
      height: auto;
      max-width: 200px;
    }
  }

  nav {
    display: none;
  }
}
