@import "../../../base";

body.page {
  &::before {
    background: linear-gradient(150deg, #3023ae 15%, #c96dd8 70%, #e18bef 94%);
    content: " ";
    display: block;
    height: 800px;
    position: absolute;
    transform: skewY(-12deg);
    transform-origin: 0;
    top: -50px;
    width: 100%;
    z-index: 1;
  }

  .countdown-wrapper {
    @include outer-container;
    margin-bottom: 60px;
    position: relative;
    z-index: 10;

    &:after {
      clear: both;
      content: " ";
      display: block;
      font-size: 0;
      height: 0;
      visibility: hidden;
    }

    .countdown {
      color: $white;

      .heading {
        margin-bottom: 60px;
        text-align: center;
        text-shadow: 0 0 1px #3023ae;

        h1 {
          margin: 0 0 30px;
        }

        p {
          font-size: 20px;
          margin-top: 0;
        }
      }
    }

    p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 26px;
    }
  }

  .about-nerdq {
    position: relative;
    z-index: 10;
  }

  @media (max-width: $mobile-breakpoint) {
    .counter-wrapper {
      margin-bottom: 15px;

      .countdown {
        color: $white;

        .heading {
          margin-bottom: 30px;

          h1 {
            margin: 0 0 15px;
          }

          p {
            font-size: 17px;
          }
        }
      }
    }
  }
}
