@import "../../../base";

body.single {
  &::before {
    background: linear-gradient(150deg, #3023ae 15%, #c96dd8 70%, #e18bef 94%);
    content: " ";
    display: block;
    height: 800px;
    position: absolute;
    transform: skewY(-12deg);
    transform-origin: 0;
    top: -100px;
    width: 100%;
    z-index: 1;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  @media (max-width: $mobile-breakpoint) {
  }
}
